       body {
            background-color: #f8f9fa; /* Light gray background */
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }
        .department-heading {
            background-color: #006633; /* GMU Green */
            color: #fff; /* White text color */
            border: 5px solid #006633; /* Solid border in GMU Green */
            padding: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow */
            margin: 0; /* Remove default margin */
            width:100%
        }
        .row{
             width:100%
        }
        .container {
            width: 100%; /* Full width */
            max-width: none; /* Remove max-width */
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }
        .custom-style {
            /* Define your custom styles here */
        }
        .carousel {
          /* Adjust height as needed */
          height: 200px;
          margin-top: 20px;
        }

        .carousel-item {
          text-align: center; /* Optional: Center align content within slides */
        }

        .carousel-img {
          /* Adjust image size as needed */
          max-width: 80%;
          max-height: 100%;
        }
       .custom-img {
           height: 50px;
           width: 50px;
            }
