body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
}

header {
    background-color: #006633; /* GMU Green */
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Your choice of box shadow */
}

section {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Optional: Rounded corners for the image */
}

p {
    margin-top: 20px;
}
    .custom-img {
        height: 200px;
        width: 200px;
    }